<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="hhhhhhh">
    <!--
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login</title>
</head>
<body>
    <section class="left-sec">
        <img src="/World health day-pana.svg" class="svg-img">
        <h1>Surgery Department</h1>
    </section>
    <section class="right-sec">
        <div class="sizeable">
        <i class="fa fa-heartbeat" style="width: 100%;font-size:7em;color:#285cc5;"></i>
        <p class="hello">Hello Again!</p>
        <p class="welcome">Welcome to our Surgery Department site</p>
        <div class="container">
            <div class="input-fields">
                <input type="text" name="email" id="email1"  placeholder="Email">
                <input type="password" name="password" id="password1"  placeholder="Password">
                <div class="chkfor">
                    <div class="check-box">
                        <input type="checkbox" name="rememberrr" id="remember"  unchecked="">
                        <label for="remember" unchecked name = "remember">
                            &nbsp Remember Me
                        </label>
                    </div>
                    <a href="">Forget password</a>
                </div>
            </div>
            <button class="login" id = "logbtn">Login</button>
            <script>
                document.getElementById("logbtn").addEventListener("click",(eo)=> { 
                    eo.preventDefault();
                    var email = document.getElementById('email1').value;
                    var password = document.getElementById('password1').value;
                    let errmsg = document.getElementById("errormsg");
                    
                    const options = {
                        method: 'POST',
                        body: JSON.stringify({ email,password }),
                        headers: new Headers({ 'Content-Type': 'application/json' })
                    }
                    fetch('/', options)
                        .then(response => response.json())
                        .then((n) => {
                            if(n.reply)
                                errmsg.innerHTML = "";
                            else
                                errmsg.innerHTML = "Error, please try again!";
                        }
                    );
                  }
                )
            </script>
            <label class="msgerr" id = "errormsg"><strong>
            </strong>
        </label>
        </div>
        </div>
    </section>
</body>
</html>