<main>
    <div class="recent-grid">
        <div class="projects">
            <div class="card">
                <div class="card-header">
                    <h3>Patients Left</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table width="100%">
                            <thead>
                                <tr>
                                    <td>Names</td>
                                    <td>Arrival Date</td>
                                    <td>Departure Date</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Omar Adel Hassan</td>
                                    <td>Salazar Rayo</td>
                                    <td>Bueno</td>
                                </tr>
                                <tr>
                                    <td>Omar Adel Elbehairy</td>
                                    <td>Ciro Ledesma</td>
                                    <td> Malo</td>
                                </tr>
                                <tr>
                                    <td>Mahmoud</td>
                                    <td>Quesada Carmona</td>
                                    <td>Intermedio</td>
                                </tr>
                                <tr>
                                    <td>Hossam Yasser</td>
                                    <td>Hernandez</td>
                                    <td>Bueno</td>
                                </tr>
                                <tr>
                                    <td>Ahmed Gehad</td>
                                    <td>Chicangana</td>
                                    <td>Malo</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>